body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-size: 40px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

.btn:hover {
  transition: box-shadow .3s;
  box-shadow: 1px 5px 25px rgb(44, 44, 44);
  background-color: white;
  color: black;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  margin: 0 auto;
  
}

.app-main {

}

.msg-area {
  
}
